<div class="modal-content">

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="modal-header">
        <h4 class="modal-title">{{modalHeader}} - {{id}}</h4>
        <button class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ba-card cardTitle="Información de Razón Social">

            <div class="form-group row" [ngClass]="{'has-error': (!idrazonsocial.valid && idrazonsocial.touched), 'has-success': (idrazonsocial.valid && idrazonsocial.touched)}">
              <label for="idrazonsocial" class="col-sm-2 form-control-label">idrazonsocial</label>
              <div class="col-sm-10">
                <input [formControl]="idrazonsocial" type="number" class="form-control" id="idrazonsocial" placeholder="idrazonsocial" value="{{reasons.idrazonsocial}}">
              </div>
            </div>
            
            <div class="form-group row" [ngClass]="{'has-error': (!razonsocial.valid && razonsocial.touched), 'has-success': (razonsocial.valid && razonsocial.touched)}">
              <label for="razonsocial" class="col-sm-2 form-control-label">razonsocial</label>
              <div class="col-sm-10">
                <input [formControl]="razonsocial" type="number" class="form-control" id="razonsocial" placeholder="razonsocial" value="{{reasons.razonsocial}}">
              </div>
            </div>
            
            <div class="form-group row" [ngClass]="{'has-error': (!nombre.valid && nombre.touched), 'has-success': (nombre.valid && nombre.touched)}">
              <label for="nombre" class="col-sm-2 form-control-label">nombre</label>
              <div class="col-sm-10">
                <input [formControl]="nombre" type="number" class="form-control" id="nombre" placeholder="nombre" value="{{reasons.nombre}}">
              </div>
            </div>
             
            <div class="form-group row" [ngClass]="{'has-error': (!rfc.valid && rfc.touched), 'has-success': (rfc.valid && rfc.touched)}">
              <label for="rfc" class="col-sm-2 form-control-label">rfc</label>
              <div class="col-sm-10">
                <input [formControl]="rfc" type="number" class="form-control" id="rfc" placeholder="rfc" value="{{reasons.rfc}}">
              </div>
            </div>
            
            <div class="form-group row" [ngClass]="{'has-error': (!direccion.valid && direccion.touched), 'has-success': (direccion.valid && direccion.touched)}">
              <label for="inputdireccion" class="col-sm-2 form-control-label">direccion</label>
              <div class="col-sm-10">
                <input [formControl]="direccion" type="number" class="form-control" id="inputdireccion" placeholder="direccion" value="{{reasons.direccion}}">
              </div>
            </div>
            
            <div class="form-group row" [ngClass]="{'has-error': (!calle.valid && calle.touched), 'has-success': (calle.valid && calle.touched)}">
              <label for="inputcalle" class="col-sm-2 form-control-label">inputcalle</label>
              <div class="col-sm-10">
                <input [formControl]="calle" type="number" class="form-control" id="inputcalle" placeholder="calle" value="{{reasons.calle}}">
              </div>
            </div>
            
            <div class="form-group row" [ngClass]="{'has-error': (!numexterior.valid && numexterior.touched), 'has-success': (numexterior.valid && numexterior.touched)}">
              <label for="inputnumexterior" class="col-sm-2 form-control-label">numexterior</label>
              <div class="col-sm-10">
                <input [formControl]="numexterior" type="number" class="form-control" id="inputnumexterior" placeholder="numexterior" value="{{reasons.numexterior}}">
              </div>
            </div>
            
            <div class="form-group row" [ngClass]="{'has-error': (!numinterior.valid && numinterior.touched), 'has-success': (numinterior.valid && numinterior.touched)}">
              <label for="inputnuminterior" class="col-sm-2 form-control-label">numinterior</label>
              <div class="col-sm-10">
                <input [formControl]="numinterior" type="number" class="form-control" id="inputnuminterior" placeholder="numinterior" value="{{reasons.numinterior}}">
              </div>
            </div>
             
            <div class="form-group row" [ngClass]="{'has-error': (!colonia.valid && colonia.touched), 'has-success': (colonia.valid && colonia.touched)}">
              <label for="inputcolonia" class="col-sm-2 form-control-label">colonia</label>
              <div class="col-sm-10">
                <input [formControl]="colonia" type="number" class="form-control" id="inputcolonia" placeholder="colonia" value="{{reasons.colonia}}">
              </div>
            </div>
            
            <div class="form-group row" [ngClass]="{'has-error': (!municipio.valid && municipio.touched), 'has-success': (municipio.valid && municipio.touched)}">
              <label for="inputmunicipio" class="col-sm-2 form-control-label">municipio</label>
              <div class="col-sm-10">
                <input [formControl]="municipio" type="number" class="form-control" id="inputmunicipio" placeholder="municipio" value="{{reasons.municipio}}">
              </div>
            </div>
            
            <div class="form-group row" [ngClass]="{'has-error': (!ciudad.valid && ciudad.touched), 'has-success': (ciudad.valid && ciudad.touched)}">
              <label for="inputciudad" class="col-sm-2 form-control-label">ciudad</label>
              <div class="col-sm-10">
                <input [formControl]="ciudad" type="number" class="form-control" id="inputciudad" placeholder="ciudad" value="{{reasons.ciudad}}">
              </div>
            </div>
            
            <div class="form-group row" [ngClass]="{'has-error': (!estado.valid && estado.touched), 'has-success': (estado.valid && estado.touched)}">
              <label for="inputestado" class="col-sm-2 form-control-label">estado</label>
              <div class="col-sm-10">
                <input [formControl]="estado" type="number" class="form-control" id="inputestado" placeholder="estado" value="{{reasons.estado}}">
              </div>
            </div>
            
            <div class="form-group row" [ngClass]="{'has-error': (!pais.valid && pais.touched), 'has-success': (pais.valid && pais.touched)}">
              <label for="inputpais" class="col-sm-2 form-control-label">pais</label>
              <div class="col-sm-10">
                <input [formControl]="pais" type="number" class="form-control" id="inputpais" placeholder="pais" value="{{reasons.pais}}">
              </div>
            </div>

        </ba-card>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger cancel-btn" (click)="closeModal()">Cancelar</button>
        <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" type="submit">Aceptar</button>
      </div>
  </form>
</div>
