<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
          <div class="modal-header">
            <h4 class="modal-title">{{modalHeader}} - {{id}}</h4>
            <button class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="height: 65vh; overflow-y: auto;">
    
            <ba-card cardTitle="Información de Razón Social">
    
                <div class="form-group row" [ngClass]="{'has-error': (!razonsocialAC.valid && razonsocialAC.touched), 'has-success': (razonsocialAC.valid && razonsocialAC.touched)}">
                  <label for="inputrazonsocialAC" class="col-sm-2 form-control-label">Razón social</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="razonsocial" [formControl]="razonsocialAC" type="text" class="form-control" id="inputrazonsocialAC" placeholder="razonsocial" >
                  </div>
                </div>
                
                <div class="form-group row" [ngClass]="{'has-error': (!nombreAC.valid && nombreAC.touched), 'has-success': (nombreAC.valid && nombreAC.touched)}">
                  <label for="inputnombreAC" class="col-sm-2 form-control-label">Nombre</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="nombre" [formControl]="nombreAC" type="text" class="form-control" id="inputnombreAC" placeholder="nombre">
                  </div>
                </div>
                 
                <div class="form-group row" [ngClass]="{'has-error': (!rfcAC.valid && rfcAC.touched), 'has-success': (rfcAC.valid && rfcAC.touched)}">
                  <label for="inputrfcAC" class="col-sm-2 form-control-label">RFC</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="rfc" [formControl]="rfcAC" type="text" class="form-control" id="inputrfcAC" placeholder="rfc">
                  </div>
                </div>
                
                <div class="form-group row" [ngClass]="{'has-error': (!direccionAC.valid && direccionAC.touched), 'has-success': (direccionAC.valid && direccionAC.touched)}">
                  <label for="inputdireccionAC" class="col-sm-2 form-control-label">Dirección</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="direccion" [formControl]="direccionAC" type="text" class="form-control" id="inputdireccionAC" placeholder="direccion" >
                  </div>
                </div>
                
                <div class="form-group row" [ngClass]="{'has-error': (!calleAC.valid && calleAC.touched), 'has-success': (calleAC.valid && calleAC.touched)}">
                  <label for="inputcalleAC" class="col-sm-2 form-control-label">Calle</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="calle" [formControl]="calleAC" type="text" class="form-control" id="inputcalleAC" placeholder="calle" >
                  </div>
                </div>
                
                <div class="form-group row" [ngClass]="{'has-error': (!numeroexteriorAC.valid && numeroexteriorAC.touched), 'has-success': (numeroexteriorAC.valid && numeroexteriorAC.touched)}">
                  <label for="inputnumeroexteriorAC" class="col-sm-2 form-control-label">Núm Exterior</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="numeroexterior" [formControl]="numeroexteriorAC" type="number" class="form-control" id="inputnumeroexteriorAC" >
                  </div>
                </div>
                
                <div class="form-group row" [ngClass]="{'has-error': (!numerointeriorAC.valid && numerointeriorAC.touched), 'has-success': (numerointeriorAC.valid && numerointeriorAC.touched)}">
                  <label for="inputnumerointeriorAC" class="col-sm-2 form-control-label">Núm Interior</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="numerointerior" [formControl]="numerointeriorAC" type="text" class="form-control" id="inputnumerointeriorAC" placeholder="numerointerior" >
                  </div>
                </div>
                 
                <div class="form-group row" [ngClass]="{'has-error': (!coloniaAC.valid && coloniaAC.touched), 'has-success': (coloniaAC.valid && coloniaAC.touched)}">
                  <label for="inputcoloniaAC" class="col-sm-2 form-control-label">Colonia</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="colonia" [formControl]="coloniaAC" type="text" class="form-control" id="inputcoloniaAC" placeholder="colonia" >
                  </div>
                </div>
                
                <div class="form-group row" [ngClass]="{'has-error': (!municipioAC.valid && municipioAC.touched), 'has-success': (municipioAC.valid && municipioAC.touched)}">
                  <label for="inputmunicipioAC" class="col-sm-2 form-control-label">Municipio</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="municipio" [formControl]="municipioAC" type="text" class="form-control" id="inputmunicipioAC" placeholder="municipio" >
                  </div>
                </div>
                
                <div class="form-group row" [ngClass]="{'has-error': (!ciudadAC.valid && ciudadAC.touched), 'has-success': (ciudadAC.valid && ciudadAC.touched)}">
                  <label for="inputciudadAC" class="col-sm-2 form-control-label">Ciudad</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="ciudad" [formControl]="ciudadAC" type="text" class="form-control" id="inputciudadAC" placeholder="ciudad" >
                  </div>
                </div>
                
                <div class="form-group row" [ngClass]="{'has-error': (!estadoAC.valid && estadoAC.touched), 'has-success': (estadoAC.valid && estadoAC.touched)}">
                  <label for="inputestadoAC" class="col-sm-2 form-control-label">Estado</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="estado" [formControl]="estadoAC" type="text" class="form-control" id="inputestadoAC" placeholder="estado" >
                  </div>
                </div>
                
                <div class="form-group row" [ngClass]="{'has-error': (!paisAC.valid && paisAC.touched), 'has-success': (paisAC.valid && paisAC.touched)}">
                  <label for="inputpaisAC" class="col-sm-2 form-control-label">Pais</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="pais" [formControl]="paisAC" type="text" class="form-control" id="inputpaisAC" placeholder="pais" >
                  </div>
                </div>
    
                <div class="form-group row" [ngClass]="{'has-error': (!idtiporazonsocialAC.valid && idtiporazonsocialAC.touched), 'has-success': (idtiporazonsocialAC.valid && idtiporazonsocialAC.touched)}">
                  <label for="inputidtiporazonsocialAC" class="col-sm-2 form-control-label">Tipo</label>
                  <div class="col-sm-10">
                    <select id="inputidtiporazonsocialAC" class="form-control" [(ngModel)]="idtiporazonsocial" [formControl]="idtiporazonsocialAC" >
                      <option value="{{ value.idtiporazonsocial }}" *ngFor="let value of _tiporazonsocial">
                        {{ value.descripcion }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-error': (!idstatusrazonsocialAC.valid && idstatusrazonsocialAC.touched), 'has-success': (idstatusrazonsocialAC.valid && idstatusrazonsocialAC.touched)}">
                  <label for="inputidstatusrazonsocialAC" class="col-sm-2 form-control-label">Estatus razón social</label>
                  <div class="col-sm-10">
                    <select id="inputidstatusrazonsocialAC" class="form-control" [(ngModel)]="idstatusrazonsocial" [formControl]="idstatusrazonsocialAC" >
                      <option value="{{ value.idstatusrazonsocial }}" *ngFor="let value of _estatusrazonsocial">
                        {{ value.descripcion }}
                      </option>
                    </select>
                  </div>
                </div>
    
            </ba-card>
    
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
            <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" type="submit" (click)="onSubmit(form.value)">Aceptar</button>
          </div>
      </form>
    </div>

  </div>
</div>
