
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">

    <div class="form-group row" [ngClass]="{'has-success': (!usuarioAC.valid && usuarioAC.touched), 'has-success': (usuarioAC.valid && usuarioAC.touched)}">
      <label for="inputusuarioAC" class="col-sm-3 form-control-label">Usuario</label>
      <div class="col-sm-9">
        <input [formControl]="usuarioAC" type="text" class="form-control" id="inputusuarioAC" placeholder="usuario" value="{{user.usuario}}">
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-success': (!contrasenaAC.valid && contrasenaAC.touched), 'has-success': (contrasenaAC.valid && contrasenaAC.touched)}">
      <label for="inputcontrasenaAC" class="col-sm-3 form-control-label">Contraseña</label>
      <div class="col-sm-9">
        <input [formControl]="contrasenaAC" type="password" class="form-control" id="inputcontrasenaAC" placeholder="contraseña" value="{{user.contrasena}}">
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-success': (!nombreAC.valid && nombreAC.touched), 'has-success': (nombreAC.valid && nombreAC.touched)}">
      <label for="inputnombreAC" class="col-sm-3 form-control-label">Nombre</label>
      <div class="col-sm-9">
        <input [formControl]="nombreAC" type="text" class="form-control" id="inputnombreAC" placeholder="nombre" value="{{user.nombre}}">
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-success': (!emailAC.valid && emailAC.touched), 'has-success': (emailAC.valid && emailAC.touched)}">
      <label for="inputemailAC" class="col-sm-3 form-control-label">Email</label>
      <div class="col-sm-9">
        <input [formControl]="emailAC" type="email" class="form-control" id="inputemailAC" placeholder="email" value="{{user.email}}">
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-success': (!telefono.valid && telefono.touched), 'has-success': (telefono.valid && telefono.touched)}">
      <label for="inputtelefono" class="col-sm-3 form-control-label">Teléfono</label>
      <div class="col-sm-9">
        <input [formControl]="telefono" type="text" class="form-control" id="inputtelefono" placeholder="teléfono" value="{{user.telefono}}">
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-error': (!idstatususuarioAC.valid && idstatususuarioAC.touched), 'has-success': (idstatususuarioAC.valid && idstatususuarioAC.touched)}">
      <label for="inputidstatususuarioAC" class="col-sm-3 form-control-label">Estatus Usuario</label>
      <div class="col-sm-9">
        <select class="form-control" [formControl]="idstatususuarioAC">
          <option value="{{value.idestatususuario}}" *ngFor="let value of _estatususuarios">
            {{value.estatususuario}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-success': (!emailsmsAC.valid && emailsmsAC.touched), 'has-success': (emailsmsAC.valid && emailsmsAC.touched)}">
      <label for="inputemailsmsAC" class="col-sm-3 form-control-label">Email SMS</label>
      <div class="col-sm-9">
        <input [formControl]="emailsmsAC" type="email" class="form-control" id="inputemailsmsAC" placeholder="emailsms" value="{{user.emailsms}}">
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button class="btn btn-primary confirm-btn" type="submit">Aceptar</button>
      </div>
    </div>
  </form>