
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">

    <div class="form-group row" [ngClass]="{'has-success': (!usuarioAC.valid && usuarioAC.touched), 'has-success': (usuarioAC.valid && usuarioAC.touched)}">
      <label for="inputusuarioAC" class="col-sm-3 form-control-label">Usuario</label>
      <div class="col-sm-9">
        <input [ngModel]="user.usuario" [formControl]="usuarioAC" type="text" class="form-control" id="inputusuarioAC" placeholder="usuario">
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-success': (!nombreAC.valid && nombreAC.touched), 'has-success': (nombreAC.valid && nombreAC.touched)}">
      <label for="inputnombreAC" class="col-sm-3 form-control-label">Nombre</label>
      <div class="col-sm-9">
        <input [ngModel]="user.nombre" [formControl]="nombreAC" type="text" class="form-control" id="inputnombreAC" placeholder="nombre">
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-success': (!emailAC.valid && emailAC.touched), 'has-success': (emailAC.valid && emailAC.touched)}">
      <label for="inputemailAC" class="col-sm-3 form-control-label">Email</label>
      <div class="col-sm-9">
        <input [ngModel]="user.email" [formControl]="emailAC" type="email" class="form-control" id="inputemailAC" placeholder="email">
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-success': (!telefonoAC.valid && telefonoAC.touched), 'has-success': (telefonoAC.valid && telefonoAC.touched)}">
      <label for="inputtelefonoAC" class="col-sm-3 form-control-label">Teléfono</label>
      <div class="col-sm-9">
        <input [ngModel]="user.telefono" [formControl]="telefonoAC" type="text" class="form-control" id="inputtelefonoAC" placeholder="teléfono">
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-error': (!idstatususuarioAC.valid && idstatususuarioAC.touched), 'has-success': (idstatususuarioAC.valid && idstatususuarioAC.touched)}">
      <label for="inputidstatususuarioAC" class="col-sm-3 form-control-label">Estatus Usuario</label>
      <div class="col-sm-9">
        <select [ngModel]="user.idstatususuario" class="form-control" [formControl]="idstatususuarioAC" id="inputidstatususuarioAC">
          <option value="{{value.idestatususuario}}" *ngFor="let value of _estatususuarios">
            {{value.estatususuario}}
          </option>
        </select>
      </div>
    </div>


    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button class="btn btn-primary confirm-btn" type="submit">Aceptar</button>
      </div>
    </div>
  </form>